.right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.center {
    padding: 70px 0;
    border: 3px solid green;
}

.padding {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
}

.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}