.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #b3d1ff;
    padding: 10px;
  }
  .grid-item1 {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }



  .grid-container2 {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #b3d1ff;
    padding: 10px;
  }
  
  .grid-item2 {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }



  .grid-container3 {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #b3d1ff;
    padding: 10px;
  }
  
  .grid-item3 {
   background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }



  .grid-container4 {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #b3d1ff;
    padding: 10px;
  }
  
  .grid-item4 {
     background-color: whitesmoke;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }



  .grid-container5 {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: #b3d1ff;
    padding: 10px;
  }
  
  .grid-item5 {
   background-color: whitesmoke;
   border: 1px solid black;
   padding: 20px;  
    font-size: 30px;
    text-align: center;
  }



  .grid-container6 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #b3d1ff;
    padding: 10px;
  }
  
  .grid-container6 > div {
    background-color: whitesmoke;
   border: 1px solid black;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  


  .grid-container7 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #b3d1ff;
    padding: 10px;
  }
  
  .grid-container7 > div {
     background-color: whitesmoke;
   border: 1px solid black;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item9 {
    grid-row-start: 1;
    grid-row-end: 3;
  }