#border1 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 round;
}

#border2 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 stretch;
}

#border3 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 20% round;
}