div {
    border: 1px solid gray;
    padding: 8px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }
  
  a {
    text-decoration: none;
    color: #008CBA;
  }

  h2 {
    color: blue;
  }
  
  h3 {
    color: red;
  }
  
  h4 {
    background-color: black;
    color: white;
  }
  
  h5 {
    background-color: blue;
    color: white;
  }
  