* {
    box-sizing: border-box;
    color: green;
    background-color: aliceblue;
}

.header {
    border: 1px solid grey;
    padding: 15px;
}

.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid grey;
}

.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid grey;
}