h1 {
    height: 200px;
    width: 50%;
    background-color: orangered;
  }

  p {
    height: 100px;
    width: 500px;
    background-color: whitesmoke;
  }

  div {
    max-width: 500px;
    height: 100px;
    background-color: green;
  }
  
  
  
  
  