.mquery {
    padding: 20px;
    color: white;
  }
  /* For Extra small devices */
  @media only screen and (max-width: 600px) {
    .mquery {background: red;}
  }
  
  /*For small devices*/
  @media only screen and (min-width: 600px) {
    .mquery {background: green;}
  }
  
  /* For medium devices  */
  @media only screen and (min-width: 768px) {
    .mquery {background: blue;}
  } 
  
  /* For Large devices  */
  @media only screen and (min-width: 992px) {
    .mquery {background: orange;}
  } 
  
  /* For Extra large devices  */
  @media only screen and (min-width: 1200px) {
    .mquery {background: pink;}
  }