body {
    background-color: antiquewhite;
    color: brown;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (orientation: landscape) {
    body {
        background-color: aliceblue;
        color: green;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;

    }
}

div.example {
    background-color: yellow;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    div.example {
        display: none;
    }
}